//////////////////////////////////////////////
//logo
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}



//////////////////////////////////////////////
//search
.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest){
        order: 1;
        flex-basis: 100%;
        background-color: var(--color-grey-light-2);
    }

    &_input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .3s;
        margin-right: -3.25rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::placeholder{
            font-weight: 100;
            color: var(--color-grey-dark-3);

        }
    }


    &_input:focus + &_btn{
        background-color: var(--color-grey-light-3);
    }


    &_btn{
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(.2rem);
        }
    }


    &_icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}





//////////////////////////////////////////////
//user nav

.user-nav{
    // background-color: greenyellow;
    align-self: stretch;

    display: flex;
    align-items: center;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &_icon-box{
        position: relative;
    }
    
    &_icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }
    
    &_notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &_user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}



//////////////////////////////////////////////
//side nav
.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &_item{
        position: relative;      

        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }

    &_item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .1s, background-color .1s;
        
    }

    &_item:hover::before,
    &_item-active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &_item:active::before{
        background-color: var(--color-primary-light);
    }
    
    &_link:link,
    &_link:visited{
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        z-index: 10;
        position: relative;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1rem;
        }
    }
    

    &_icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.legal{
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}


//////////////////////////////////////////////
//gallery

.gallery{
    display: flex;
    
    &_photo{
        width: 100%;
        display: block;
    }
}

.overview{
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &_heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small) {
           font-size: 1.5rem;
           padding: 1.25rem .5rem;
        }
    }

    &_stars{
        margin-right: auto;
        display: flex;
    }

    &_icon-star,
    &_icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }
    
    &_location{
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }
    
    &_icon-location{
        margin-right: .5rem;
    }

    &_rating{
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.25rem;
        }
    }

    &_rating-avg{
        font-size: 2.25rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }
    
    &_rating-count{
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
}

.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }
    
    &:hover{
        color: var(--color-grey-dark-1);

        span{
            margin-left: 8px;
        }
    }
    
    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0, .25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}


//////////////////////////////////////////////
//paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}



//////////////////////////////////////////////
//list
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &_items{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &_items::before{
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .7rem;

        //older browser
        background-image: url(/img/chevron-thin-right.svg);
        background-size: cover;

        @supports (-webkit-mask-image: url()) or (mask-image: url()){
            background-color: var(--color-primary);
        -webkit-mask-image: url(/img/chevron-thin-right.svg);
        -webkit-mask-size: cover;

        mask-image: url(/img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
        }        
    }
}



//////////////////////////////////////////////
//user-reviews
.recommend{
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &_count{
        margin-right: auto;
    }

    &_friends{
        display: flex;
    }

    &_photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child){
            margin-right: -2rem;
        }
    }
}

//////////////////////////////////////////////
//user-reviews
.review{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &_text{
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }
    
    &_user{
        display: flex;
        align-items: center;
    }

    &_photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    
    &_user-box{
        margin-right: auto;
    }
    
    &_user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }
    
    &_user-date{
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }
    
    &_rating{
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}


//////////////////////////////////////////////
//call to action
.cta{
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }


    &_book-now{
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

.btn{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > *{
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .3s;
    }

    &_visible{
        padding: 2rem 7.5rem;
    }
    
    &_invisible{
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }

    &:hover{
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &_visible{
        transform: translateY(100%);
    }

    &:hover &_invisible{
        top: 0;
    }
    
    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}